.footer{
    padding-top: 60px;
    padding-bottom: 30px;
    background: var(--primary-color);
}
.footer__text{
    line-height: 30px;
    color: rgba(255, 255, 255, 0.735);
  
}
.footer__quick-links ul li{
    background: transparent !important;
}

.footer__quick-links ul li a{
    color: rgba(255, 255, 255, 0.735);
}
.quick__links-title{
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.1rem;
} 
.footer__contact li{
    color: #fff;
}
.footer__contact li span {
    font-size: 1.1rem;
}
.footer__copyright{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.735);
    margin-top: 40px; 
    text-align: center;  
}

@media only screen and (max-width:1200px){
    .footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
    .footer h1 {
        padding-top: 0px;
    }
} 