.revenue__box, .order__box, .product__box, .users__box{
    padding: 20px;
    border-radius: 5px;
}
.revenue__box{
    background-color: rgba(204, 255, 0, 0.712);
}
.order__box{
    background-color: rgb(79, 201, 156);   
}
.product__box{
    background-color: rgb(109, 204, 230);
}
.users__box{
    background-color: rgb(131, 190, 28);
}
.revenue__box h5,
.order__box h5,
.product__box h5,
.users__box h5 {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 20px;
}
.revenue__box span,
.order__box span,
.product__box span,
.users__box span {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-color);
    font-size: 2rem     ;
}